<br><br>
<p-card header="Enunciado de la pregunta" [style]="{'width': '70rem', 'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
    <div>
        <p-editor [(ngModel)]="question.statement" [style]="{'height':'320px'}" (onSelectionChange)="change($event)"
        (onInit)="onInitEditor($event)"></p-editor>
    </div>
    <p-footer>
        Intruccion y descripcion de lo que es un enunciado de pregunta
    </p-footer>
</p-card>
{{
    question.statement
}}

<!--<hr>-->
<p-card header="Respuestas "  [style]="{'width': '70rem', 'margin-bottom': '1em', 'margin-left':'auto','margin-right':'auto'}">
  <div *ngFor="let answer of question.answers; let indexAnswer = index">

        <p-card header="Respuesta {{indexAnswer+1}}">
            <p-header>
                <br><button *ngIf="indexAnswer != 0 && indexAnswer != 1" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeAnswer (indexAnswer)" [style]="{ 'margin-left':'1040px'}"></button>
            </p-header>
            <p-editor [(ngModel)]="answer.statement" [style]="{'height':'100px'}" ></p-editor>
            <p-footer>
                <div>
                    <h5>Calificación: {{answer.grade}}</h5>
                    <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-danger p-button-outlined" (click)="changeGradeValue (answer, -10)" ></button>
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-help p-button-outlined" (click)="changeGradeValue (answer, 10)" [style]="{'margin-left':'10px'}"></button>
                    <br><br>
                  <p-slider [(ngModel)]="answer.grade" [min]="-100" [max]="100"  [step]="10" [style]="{'width':'100%'}"></p-slider>

                </div>

                <p>
                    El valor de la calificacion debe estar entre -100% y 100%.
                    Asigna 100%
                </p>
            </p-footer>
        </p-card>
    <br>
    </div>
    <p-footer>
        <button pButton type="button" label="Adicionar Respuesta" (click)="addNewAnswer ()"></button>
    </p-footer>
</p-card>

<p-card header="Retroalimentacion"  [style]="{'width': '70rem', 'margin-bottom': '4em', 'margin-left':'auto','margin-right':'auto'}">
    <div>
        <p-editor [(ngModel)]="question.feedback" [style]="{'height':'320px'}"></p-editor>
    </div>
    <p-footer>
        Intruccion y descripcion de lo que es un enunciado de pregunta
    </p-footer>
</p-card>


<button pButton type="button" label="GUARDAR PREGUNTA" (click)="saveQuestion ()"  [style]="{'width': '30rem', 'margin-bottom': '4em', 'margin-left':'400px'}"></button>

