<div>
    <form #moduleForm="ngForm">
        <div>
            <input type="text" name="questions" #questions="ngModel" 
            [(ngModel)]="icfesTestService.selectedTest.questions" 
            placeholder="Enter the questions">
        </div>
        <div>
            <input type="text" name="title" #title="ngModel" 
            [(ngModel)]="icfesTestService.selectedTest.title" 
            placeholder="Enter the type">
        </div>
        <div>
            <input type="text" name="description" #description="ngModel" 
            [(ngModel)]="icfesTestService.selectedTest.description" 
            placeholder="Enter the description">
        </div>
        <div>
            <input type="text" name="moduleId" #moduleId="ngModel" 
            [(ngModel)]="icfesTestService.selectedTest.moduleId" 
            placeholder="Enter the moduleId">
        </div>
        <div class="card-action">
            <div class="input-field">
                <button (click)="addModule(moduleForm)" >Save</button>
                <button (click)="resetForm(moduleForm)" >Clean</button>
            </div>
        </div>    
    </form>    
    <div>
        <table>
            <thead>
                <th> Titulo </th>
                <th> Descripcion </th>
                <th> Preguntas </th>
                <th> ID-Modulo  </th>
            </thead>
            <tbody>
                <tr *ngFor="let icfesTests of icfesTestService.icfesTests">
                    <td>{{ icfesTests.title }}</td>
                    <td>{{ icfesTests.description }}</td>
                    <td>{{ icfesTests.questions._id }}</td>
                    <td>{{ icfesTests.moduleId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>